*{
    margin: 0;
    padding: 0;
}

html,body{
    height:100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    background-color:rgb(255, 255, 255);
}

img{
    float:right;
    padding-left: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-size: 100;
    font-weight: 400;
    font-family: "baumans",cursive;
}

a{
    color:#c10000;
    text-decoration: none;
}
a:hover{
    color:#e47b7b;
    text-decoration: underline;
}

a:visited{
    color: #c10000;
}

#neulogo{
    float:right;
    padding:10px 10px 10px 10px;
}
#neulogoimg{
    height: 95px;
}
.wrap:before,.wrap:after {
    content: "";
    display: table; }

.wrap:after {
    clear: both; }

.wrap {
    max-width: 800px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1; }
.site-header {
    border-top: 5px solid #333;
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    background-color: rgb(250, 250, 250); }
      
.site-title-all {
    width: 52%;
    float: left; }

.site-title,.site-title:hover,.site-title:visited {
    font-family: "Baumans", cursive;
    font-weight: 500;
    color: #333;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 50px;
    padding-bottom: 40px;
    text-decoration: none; 
}
      
.site-subtitle,.site-subtitle:hover,.site-subtitle:visited {
    font-family: "Baumans", cursive;
    font-weight: 400;
    color: #333;
    font-size: 20px;
    letter-spacing: 3.7px;
    line-height: 20px;
    text-decoration: none; }
      
.site-subsubtitle {
    font-family: "Baumans", cursive;
    font-weight: 500;
    display: block;
    color: #333;
    font-size: 16px;
    letter-spacing: 5.5px;
    line-height: 20px;
    z-index: 1;
    padding-top: 10px;
    text-decoration: none; }
.site-nav {
    float: left;
    line-height: 56px; }
          
.site-nav .menu-icon {
    display: none; }
          
.site-nav .page-link {
    margin-right: 20px;
    color: #727272;
    letter-spacing: -.5px; }

.credits {
    text-decoration: none;
    vertical-align: text-top;
    font-size: 0.7em;
    text-align: right;
    font-style: italic; }

.site-footer{
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    background-color: rgb(250, 250, 250); }

.site-footer .column {
    float: left;
    margin-bottom: 15px; }
      
.footer-col-1 {
    width: 270px;
    /*fallback*/
    width: -webkit-calc(35% - 10px);
    width: -moz-calc(35% - 10px);
    width: -o-calc(35% - 10px);
    width: calc(35% - 10px);
    margin-right: 10px; }
      
.footer-col-2 {
    width: 175px;
    /*fallback*/
    width: -webkit-calc(23.125% - 10px);
    width: -moz-calc(23.125% - 10px);
    width: -o-calc(23.125% - 10px);
    width: calc(23.125% - 10px);
    margin-right: 10px; }
      
.footer-col-3 {
    width: 335px;
    /*fallback*/
    width: -webkit-calc(41.875%);
    width: -moz-calc(41.875%);
    width: -o-calc(41.875%);
    width: calc(41.875%); }
      
.site-footer ul {
    list-style: none; }
      
.site-footer li,.site-footer p {
    font-size: 15px;
    letter-spacing: -.3px;
    color: #828282; }
      
.github-icon-svg,.twitter-icon-svg,.linkedin-icon-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px; }

    